html {
  background-color: #f8f8f8;
}

.header {
  box-sizing: border-box;
  height: 1.0666666667rem;
  width: 100%;
  background-color: red;
  padding-left: 0.6133333333rem;
}
.header .header-item {
  float: left;
  color: #ffcdc3;
  font-size: 0.4266666667rem;
  margin-right: 0.5333333333rem;
  line-height: 1.0666666667rem;
}
.header .choose-item {
  color: #fff;
  font-size: 0.4533333333rem;
}

.banner-wrapper {
  position: relative;
}
.banner-wrapper .banner {
  display: block;
  width: 100%;
  height: 5.0666666667rem;
}
.banner-wrapper .banner-title {
  background: rgba(0, 0, 0, 0.3);
  padding-left: 0.4rem;
  font-size: 0.4266666667rem;
  color: #fff;
  bottom: 0;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
}

.news-content .news-item {
  width: 100%;
  height: 2.4rem;
  padding: 0 0.4rem;
  box-sizing: border-box;
}
.news-content .news-item .item-content {
  position: relative;
  overflow: hidden;
  height: 100%;
  border-bottom: 0.0266666667rem solid #5e5e5e;
}
.news-content .news-item .item-content .news-img {
  float: left;
  display: block;
  width: 2.5333333333rem;
  height: 1.8666666667rem;
  margin: 0.2666666667rem 0.2666666667rem 0 0;
}
.news-content .news-item .item-content .news-title {
  font-size: 0.4533333333rem;
  color: #404040;
  margin-top: 0.4266666667rem;
}
.news-content .news-item .item-content .time {
  position: absolute;
  left: 2.8rem;
  bottom: 0.4533333333rem;
  color: #888;
  font-size: 0.32rem;
}
.news-content .news-item .item-content .number {
  position: absolute;
  color: #888;
  font-size: 0.32rem;
  right: 0.1066666667rem;
  bottom: 0.4533333333rem;
}
.news-content .news-item .item-content .number::before {
  width: 0.4266666667rem;
  height: 0.4rem;
  content: '';
  display: block;
  left: -0.6666666667rem;
  top: 0.0533333333rem;
  position: absolute;
  background-image: url(imgs/read.png);
}
